# @format

services:
  api:
    container_name: "spotify-api"
    volumes:
      - ./:/workspace:cached
    build:
      context: .
      dockerfile: docker/api/Dockerfile
    env_file:
      - .env
    working_dir: /workspace
    command: bash -c "uv sync --all-extras && uv run uvicorn spotify_api.main:app --reload --port=8080 --host=0.0.0.0"
    ports:
      - 10120:8080
    tty: true
